{% extends "base.html" %}
{% block content %}
    <div class="main-wrapper">
        <header>
            <h1>Facial Recognition App</h1>
        </header>

        <div class="vertical-line"></div>

        <div class="container">
            <div id="message-box" class="message"></div>
            <h2>Register User</h2>
            <form id="register-form" enctype="multipart/form-data">
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Enter your name">
                <label for="file">Upload Image</label>
                <input type="file" id="file" accept="image/*">
                <button type="button" id="register-btn" onclick="registerUser()">Register</button>
                <button type="button" id="sign-in-btn" class="sign-in" onclick="redirectToSignIn(event)">
                    <img src="/static/images/right-arrow.png" alt="" class="signin-icon">
                    Sign-In
                </button>
            </form>
        </div>
    </div>

{% endblock %}